In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("20231031_HW.csv")

In [4]:
data

,ID,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,1,10.48,138,72,0,148,94,Medium,27,17,Yes,Yes
1,2,10.43,77,69,0,25,24,Medium,50,18,Yes,No
2,3,5.32,118,74,6,426,102,Medium,80,18,Yes,Yes
3,4,7.67,129,117,8,400,101,Bad,36,10,Yes,Yes
4,5,5.32,152,116,0,170,160,Medium,39,16,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...
315,316,6.71,119,67,17,151,137,Medium,55,11,Yes,Yes
316,317,5.28,108,77,13,388,110,Bad,74,14,Yes,Yes
317,318,6.52,128,42,0,436,118,Medium,80,11,Yes,No
318,319,11.62,151,83,4,325,139,Good,28,17,Yes,Yes
319,320,6.20,128,93,0,89,118,Medium,34,18,Yes,No

In [5]:
data.columns

Index(['ID', 'Sales', 'CompPrice', 'Income', 'Advertising', 'Population',
       'Price', 'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [6]:
data.dtypes

ID               int64
Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object