In [13]:
import numpy as np
import pandas as pd

df=pd.read_csv("pandas_dtype.csv")
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,"$15,000.00",$12750.00,-15.00%,Closed,2,2,2014,N

In [2]:
#欄位相加
#因為是字串，所以相加的結果沒意義

df['2016']+df['2017']

0      $125,000.00$162500.00
1    $920,000.00$101,2000.00
2        $50,000.00$62500.00
3      $350,000.00$490000.00
4        $15,000.00$12750.00
dtype: object

In [3]:
#檢視dataframe的資料型態
#數字、文字、日期、布林

df.dtypes

Customer Number    float64
Customer Name       object
2016                object
2017                object
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [4]:
#很常用的dataframe檢視方式
#共有幾個欄位, 有沒有空值, 資料型態與數量, 佔記憶體大小多少

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      float64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

In [5]:
#需要進行資料型態轉型時，請使用astype

df['Customer Number'].astype('int')

0     10002
1    552278
2     23477
3     24900
4    651029
Name: Customer Number, dtype: int32

In [6]:
#dataframe需要用指派的形式，才能將結果正式生效

df["Customer Number"]=df['Customer Number'].astype('int')
df.dtypes

Customer Number     int32
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [7]:
#因為欄位值內有非數字，因此無法轉換為float
#太多錯誤訊息看不懂時，請注意兩個重點: 1. 出現紅色警告 2. 看最後一行的訊息!

df['2016'].astype('float')

ValueError: could not convert string to float: '$125,000.00'

In [14]:
#使用numpy套件，轉換欄位值，成為布林型態
df["Active"]=np.where(df["Active"] == "Y", True, False)

In [17]:
#定義函數，函數參數為val，搭配apply
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    #多個文字取代方式，採用多個replace函數進行
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

In [18]:
#利用apply函數，將整個欄位值進行調用
#口訣:apply(噁pply，整個欄位噁心通通吐出來)

#調用函數，透過apply
df['2016'].apply(convert_currency)

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [19]:
#使用apply與lambda函數 (同樣是針對整個欄位，函數寫在lambda函數裡面)
#口訣: 噁pply加上爛打=>打爛(打爛一筆一筆資料)

df['2016'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [13]:
#學會assign欄位
#右邊的欄位值assign到左邊的欄位值，這樣新的值才會生效

df['2016'] = df['2016'].apply(convert_currency)
df['2017'] = df['2017'].apply(convert_currency)

In [14]:
df.dtypes

Customer Number      int32
Customer Name       object
2016               float64
2017               float64
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [20]:
def convert_percent(val):
    """
    Convert the percentage string to an actual floating point percent
    - Remove %
    - Divide by 100 to make decimal
    """
    new_val = val.replace('%', '')
    return float(new_val) / 100

#調用函數，透過apply
df['Percent Growth'].apply(convert_percent)

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent Growth, dtype: float64

In [21]:
#用apply lambda得到一樣的結果
df['Percent Growth'].apply(lambda x: x.replace('%', '')).astype('float') / 100

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent Growth, dtype: float64

In [22]:
#這個技術很常用，請務必記住
#參數:errors='coerce'，表示遇到無法轉換的資料時，取代為空值 (NaN)

pd.to_numeric(df['Jan Units'], errors='coerce')

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: Jan Units, dtype: float64

In [23]:
#這個技術很常用，請務必記住
#參數:errors='coerce'，表示遇到無法轉換的資料時，取代為0

pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

0    500.0
1    700.0
2    125.0
3     75.0
4      0.0
Name: Jan Units, dtype: float64

In [24]:
#將三個欄位整合為一個欄位，並且轉換為時間型態
#整合欄位: df[['Month', 'Day', 'Year']]，記住用兩組 [[]]

pd.to_datetime(df[['Month', 'Day', 'Year']])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [25]:
df["Start_Date"] = pd.to_datetime(df[['Month', 'Day', 'Year']])
df["Jan Units"] = pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

In [26]:
df.dtypes

Customer Number           float64
Customer Name              object
2016                       object
2017                       object
Percent Growth             object
Jan Units                 float64
Month                       int64
Day                         int64
Year                        int64
Active                       bool
Start_Date         datetime64[ns]
dtype: object